<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<logger name="org.springframework" level="WARN" />
	<logger name="javax.management" level="WARN" />
	<logger name="javax.xml" level="WARN" />
	<logger name="org.apache.catalina" level="WARN" />
	<logger name="org.apache.tomcat" level="WARN" />
	<logger name="org.apache.coyote" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="com.sun.xml" level="WARN" />
	<logger name="org.jboss" level="WARN" />

	<root level="all">
		<appender-ref ref="STDOUT_JSON" />
	</root>

</configuration>
